* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

:root {
    --background-principal: #8eadd6; 
    --color-letra: white;
}

body {
    min-width: 100vw;
    background-color: var(--background-principal);
}

.header {
    position: fixed; 
    top: 0;
    display: flex;
    width: 100%;

    justify-content: space-between; 
    align-items: center;
    background-color:rgb(129, 145, 175);
    padding: 1 0.5rem 0 2rem;
    height: 20%;
}

.header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 1rem;
    background-color: rgb(128, 145, 175);
}
.navbar .botones {
    display: flex;
    align-items:center;
    justify-content:space-around;
    width: 30%;
    height: 50%;
}

a:link {text-decoration: none }



button{
    align-items: center;
    background-color: transparent;
    width: fit-content;
    height: fit-content;

}

.navbar a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 20%;
    height: 50%;    
    border-radius: 50%;
    color: black;
}
 .header .logo{
    width: 20%;
    height: 20%;
}

.boton {
    height:3rem;
    width: 7rem;
   
}
.boton .imgboton {
    height: 100%;
    width: 100%;
}
.botones {
    
    display: flex;
    justify-content: space-around;
    align-items: center;}

 


section {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-principal);
    padding-bottom: 15%;
}
.whatsapp {
    
    position: fixed;
    bottom: 0;
    right: 0;
    height: 5rem;
    width: 5rem;
}

.seccion-uno img {
    margin-top: 20%;
    border-radius: 50%;
    height: 50%;
    border: 0px solid rgb(20, 67, 73);
}



.link img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.link:hover
{
    box-shadow: 0 0 2rem black;
    cursor: pointer;
}


.autos{
  
    text-align: center;
    
    font-size: 4rem;
    font-weight: 100; 
  }
  
    .card{
      height: 50%;
      width: 30%;
      justify-content: center;
      background-color:var(--background-principal);
      justify-content: space-around; 
      align-items: center;
      
  }
  .card-body{
    width: 100%;
      height: 100%;
   padding-right: 10%;
   background-color:
   var(--background-principal);
  
  }
  .card-title{
      font-size: 2rem;
      text-align: center;
  }
   .card img{
     
      width: 60%;
      height:50%;
      align-items: center;
      
   
    }

footer{
    
    position: absolute; 
     width: 100vw;
    background-color: var(--background-principal);
     
  }
  .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }  

#seccion-dos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 3rem;
}
.contenedor-servicios{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
    height: 80%;
}
.contenedor-servicios .servicio{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    row-gap: 3rem;
    padding: 3rem;
    border-radius: 1rem;
}

#seccion-tres{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 3rem;
}
.contenedor-colaborador{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 80%;
}
.contenedor-texto2{
    margin-top: 20%;
}
.contenedor-principal {
    position: relative;
    display: flex;
    border: 5px solid rgb(207,209,214);
    width: 50%;
    height: 60%;
    justify-content: center;
    align-items: center;
    padding-top: 1px;
    background-color: white;
    flex-direction: column;
    border-radius: 20px;
}
.contenedor-principal::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    background-color: rgb(84, 108, 153);
    border-radius: 1rem 1rem 0 0;
}
.user{
    
    width: 100%;
    height: 100%;
}
.img-user {
    position: relative;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 4px solid rgb(207,209,214);

}
.img-user img{
    width: 100%;
    height: 100%;

}
.contenedor-texto2 h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 100; 
}

