* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

:root {
    --background-principal: #8eadd6; 
    --color-letra: white;
}

body {
    width: 100vw;
    background-color: var(--background-principal);
}

.header {
    position: fixed; 
    top: 0;
    display: flex;
    width: 100%;

    justify-content: space-between; 
    align-items: center;
    background-color:rgb(129, 145, 175);
    padding: 0 0.5rem 0 3rem;
    background: color lightblue ;
    
}
.header .cabezera{
    align-items: center;
    width: 100%;
    height: 50%;

}

.header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    height: 80%;
    width: 100%;
    padding: 1rem;
    
}
ul{list-style: none;}

.navbar li {
    margin-right: 0%;
    border-color: none;
}
.navbar2 a button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 6vh;
    align-items: center;
    justify-content: space-between;
    background-color:  rgb(197, 210, 214);
  border-radius: 10%;
  font-size: 20px;
}

.navbar2
{  display: none;
    align-items: center;
    justify-content: space-around;
    height: 20%;
    width: 100%;
    margin-right: 5px;
  
}
header button{
  display: flex;
  justify-items: center;
  align-items:center;

}
.link{ 
    display: flex;
    flex-direction: row;
    width: 8vh;
    height: 5vh;
    font-size: 20px;
    align-items: center;
    justify-items: center;
    background-color:  rgb(197, 210, 214);

    
  }
    
   .vermas:hover
    {
      box-shadow: 0 0 2rem rgb(76, 116, 153);
      cursor: pointer; /* el puntero se convierte en una manito */
  }
   

  .link:hover {
      box-shadow: 0 0 2rem rgb(1, 99, 190);
      cursor: pointer; /* el puntero se convierte en una manito */
  }


a:link {text-decoration: none }

.logo{
    height:15%;
    width: 10%;
}

.header h1 {
    color: var(--color-letra);
    font-size: 5rem;
}

.link img {
    width: 100%;
    height: 100%;
  
  justify-items: flex-end;
}


section {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-principal);
    padding-bottom: 10%;
}
.whatsapp {
    
    position: fixed;
    bottom: 0;
    right: 0;
    height: 5rem;
    width: 5rem;
}
.contenedor-texto {
    justify-content: center;
    padding-top: 9%;
    width: 50%;
    color: var(--color-letra);
}

.contenedor-texto h2 {
    margin-top: 5%;
    font-size: 5rem;
    font-weight: 800;
}
.contenedor-texto p{
    font-size: 1.4rem;
    font-weight: 500; 
}


.seccion-uno img {
    margin-top: 20%;
    border-radius: 50%;
    height: 50%;
    width: 40%;
    border: 0px solid rgb(99, 153, 160);
}



footer{
    
    position: absolute; 
     width: 100vw;
    background-color: var(--background-principal);
     
}
#seccion-dos{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;    
}
.contenedor-servicios{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    flex-wrap: wrap;
    height: 95%;
}
.contenedor-servicios .servicio{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    row-gap: 1rem;
    padding: 1rem;
    
}

  
.card{
    height: 50%;
    width: 30%;
    justify-content: center;
    background-color:var(--background-principal);
    justify-content: space-around; 
    align-items: center;
    padding: 3rem;
    font-size: 13px;
  }

  .card-body{
    height: 100%;
    background-color: var(--background-principal);
  
  }
  .card-title{
      font-size: 5rem;
      
  }
   .card img{
     
      width: 70%;
      height:90%;
      align-items: center;
      margin-left:30% ;
      
   
    }
#seccion-tres{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 1rem;
}
.contenedor-colaboradores{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 80%;
}
.contenedor-texto2{
    margin-top: 40%;
}
.contenedor-principal {
    position: relative;
    display: flex;
    border: 5px solid rgb(207,209,214);
    width: 50%;
    height: 60%;
    justify-content: center;
    align-items: center;
    padding-top: 1px;
    background-color: white;
    flex-direction: column;
    border-radius: 20px;
}
.contenedor-principal::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    background-color: rgb(84, 108, 153);
    border-radius: 1rem 1rem 0 0;
}
.user{
    
    width: 100%;
    height: 100%;
}
.img-user {
    position: relative;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 4px solid rgb(207,209,214);

}
.img-user img{
    width: 100%;
    height: 100%;

}
.contenedor-texto2 h2 {
    text-align: center;
    font-size: 15rem;
    font-weight: 100; 
}

footer{
    
  position: absolute; 
  width: 100vw;
  background-color:rgb(129, 145, 175);

  
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
}
